<h2>Über uns</h2>
<p>
  Die Feldschützengesellschaft Winterthur (FSGW) wurde 1897 gegründet.
</p>

Die FSGW
<ul>
  <li>
    ist Mitglied aller übergeordneten Verbände wie SSV (Schweiz. Schiesssport Verband) ZKSV (Zürcher Kantonaler
    Schiesssport Verband) BSVW (Bezirksschützenverband) und Ohrbühlverband Winterthur.
  </li>
  <li>
    betätigt sich weder politisch noch konfessionell.
  </li>
  <li>
    Mitglieder kommen aus den verschiedensten Berufen vom Handwerker bis zum Akademiker.
  </li>
  <li>
    legt das Schwergewicht auf die Pflege der Kameradschaft und die sportliche Aktivitäten.
  </li>
  <li>
    bietet jährlich ca. 10 Schiesstage für das Bundesprogramm (Obli) an. Sie betreut jährlich über 1000 ADAs bei den
    oblig. Übungen.
  </li>
  <li>
    bietet alle Jahre einen Jungschützenkurs (15 - 20 Jährige) und parallel dazu einen Nachwuchskurs für Jugendliche ab
    10 Jahren an.
  </li>
</ul>
