<b>{{data.firstname}} {{data.lastname}}</b>
<br>
<div class="info-label">Kurs</div>
<div class="info-value">{{data.type}}</div>
<br>
<div class="info-label">Strasse</div>
<div class="info-value">{{data.street}}</div>
<br>
<div class="info-label">Ort</div>
<div class="info-value">{{data.zip}} {{data.location}}</div>
<br>
<div class="info-label">Geburtstag</div>
<div class="info-value">{{data.birthDate | date:'dd.MM.YYY'}}</div>
<br>
<div class="info-label">Nationalität</div>
<div class="info-value">{{data.nationality}}</div>
<br>
<div class="info-label">E-Mail</div>
<div class="info-value">{{data.email}}</div>
<br>
<div class="info-label">Natelnummer</div>
<div class="info-value">{{data.mobile}}</div>
<br>
<div class="info-label">AHV-Nummer</div>
<div class="info-value">{{data.insuranceNumber}}</div>
