<div class="content mat-app-background">
  <mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row *ngIf="isFirstToolbarRowVisible()" class="header-bg">
      <span class="header-bg-spacer"></span>
      Feldschützengesellschaft Winterthur
    </mat-toolbar-row>
    <mat-toolbar-row class="toolbar-row">
      <button (click)="drawer.toggle()" *ngIf="!isFirstToolbarRowVisible()" color="primary" mat-icon-button>
        <mat-icon class="icon-white">menu</mat-icon>
      </button>

      <div *ngFor="let entry of menuEntries" [hidden]="!isFirstToolbarRowVisible()">
        <app-toolbar-menu-button [menuEntry]="entry"></app-toolbar-menu-button>
      </div>

      <span class="toolbar-spacer"></span>

      <button *ngIf="authService.isLoggedIn()" mat-icon-button matTooltip="Content Manager"
              routerLink="/content-manager">
        <mat-icon color="accent">post_add</mat-icon>
      </button>

      <button *ngIf="authService.isAdmin()" mat-icon-button matTooltip="Admin" routerLink="/admin">
        <mat-icon color="accent">admin_panel_settings</mat-icon>
      </button>

      <button *ngIf="!authService.isLoggedIn()" mat-icon-button routerLink="/user/login">
        <mat-icon class="icon-white">login</mat-icon>
      </button>

      <p *ngIf="authService.isLoggedIn() == true">
        <button [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button disabled mat-menu-item>
            <span>Rolle: {{authService.getUserRoles().toString()}}</span>
          </button>
          <button disabled mat-menu-item routerLink="user/password-change">
            <mat-icon>password</mat-icon>
            <span>Passwort ändern</span>
          </button>
          <button (click)="authService.logout()" mat-menu-item matTooltip="Logout">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </p>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer-container autosize class="content-container">

    <mat-drawer #drawer class="sidenav" mode="side">
      <mat-nav-list>
        <div *ngFor="let entry of menuEntries">
          <div *ngIf="entry.subs.length == 0">
            <mat-list-item (click)="onSidenav(entry)" class="menu-item">
              {{entry.name}}
            </mat-list-item>
          </div>
          <mat-expansion-panel *ngIf="entry.subs.length != 0" [(expanded)]="entry.expanded"
                               [class.mat-elevation-z0]="true">
            <mat-expansion-panel-header (click)="onSidenav(entry)" class="menu-item">
              {{entry.name}}
            </mat-expansion-panel-header>
            <div *ngIf="entry.subs.length != 0">
              <mat-nav-list *ngFor="let subEntry of entry.subs">
                <mat-list-item (click)="onSidenav(subEntry)" class="menu-item">
                  {{subEntry.name}}
                </mat-list-item>
              </mat-nav-list>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-nav-list>
    </mat-drawer>

    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>
