<div class="content mat-app-background">
  <mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row *ngIf="isFirstToolbarRowVisible()" class="header-bg">
      <span class="header-bg-spacer"></span>
      Feldschützengesellschaft Winterthur
    </mat-toolbar-row>
    <mat-toolbar-row class="toolbar-row">
      <button color="primary" mat-icon-button routerLink="/">
        <mat-icon class="icon-white">home</mat-icon>
      </button>

      <button [matMenuTriggerFor]="clubMenu" class="toolbar-buttons" color="primary" mat-flat-button>Verein</button>
      <mat-menu #clubMenu="matMenu">
        <button mat-menu-item routerLink="/public/club/about-us">
          Über uns
        </button>
        <button mat-menu-item routerLink="/public/club/shooting-range">
          Schiessstand
        </button>
        <button mat-menu-item routerLink="/public/club/board">
          Vorstand
        </button>
        <button mat-menu-item routerLink="/public/club/statutes">
          Reglemente und Statuten
        </button>
        <button disabled mat-menu-item routerLink="/">
          Kontakt
        </button>
      </mat-menu>

      <button [matMenuTriggerFor]="resultsMenu" class="toolbar-buttons" color="primary" mat-flat-button>Resultate
      </button>
      <mat-menu #resultsMenu="matMenu">
        <button [routerLink]="['/public/results', { year: 2023 }]" mat-menu-item>
          Resultate 2023
        </button>
        <button [routerLink]="['/public/results']" mat-menu-item>
          Alle Resultate
        </button>
      </mat-menu>

      <button [matMenuTriggerFor]="jsMenu" class="toolbar-buttons" color="primary" mat-flat-button>Jungschützenkurs
      </button>
      <mat-menu #jsMenu="matMenu">
        <button mat-menu-item routerLink="/public/js/information">
          Informationen
        </button>
        <button [routerLink]="['/public/event-list', { category: 'JS' }]" mat-menu-item>
          Termine
        </button>
        <button disabled mat-menu-item routerLink="/public/js/registration">
          Anmeldung
        </button>
        <button disabled mat-menu-item routerLink="/public/js/diary">
          Kurstagebuch
        </button>
      </mat-menu>

      <button [matMenuTriggerFor]="eventMenu" class="toolbar-buttons" color="primary" mat-flat-button>Veranstaltungen
      </button>
      <mat-menu #eventMenu="matMenu">
        <button mat-menu-item routerLink="/public/event-list">
          Alle
        </button>
        <button [routerLink]="['/public/event-list', { category: 'BU' }]" mat-menu-item>
          Bundesübung / Obli
        </button>
        <button [routerLink]="['/public/event-list', { category: 'FS' }]" mat-menu-item>
          Feldschiessen
        </button>
        <button [routerLink]="['/public/event-list', { category: 'JS' }]" mat-menu-item>
          Jungschützenkurs
        </button>
        <button [routerLink]="['/public/event-list', { category: 'JM' }]" mat-menu-item>
          Jahresmeisterschaft
        </button>
        <button [routerLink]="['/public/event-list', { category: 'FU' }]" mat-menu-item>
          Freie Übungen
        </button>
      </mat-menu>


      <button class="toolbar-buttons" color="primary" mat-flat-button routerLink="/public/downloads">Downloads</button>

      <button [matMenuTriggerFor]="miscMenu" class="toolbar-buttons" color="primary" mat-flat-button>Diverses</button>
      <mat-menu #miscMenu="matMenu">
        <button mat-menu-item routerLink="/public/misc/personal-weapon">
          Abgabe der persönlichen Militärwaffe
        </button>
        <button mat-menu-item routerLink="/public/misc/new-weapon-law">
          Neues Waffengesetz
        </button>
      </mat-menu>

      <span class="toolbar-spacer"></span>

      <button *ngIf="authService.isLoggedIn()" mat-icon-button matTooltip="Content Manager"
              routerLink="/content-manager">
        <mat-icon color="accent">post_add</mat-icon>
      </button>

      <button *ngIf="authService.isAdmin()" mat-icon-button matTooltip="Admin" routerLink="/admin">
        <mat-icon color="accent">admin_panel_settings</mat-icon>
      </button>

      <button *ngIf="!authService.isLoggedIn()" mat-icon-button routerLink="/user/login">
        <mat-icon class="icon-white">login</mat-icon>
      </button>

      <p *ngIf="authService.isLoggedIn() == true">
        <button [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button disabled mat-menu-item>
            <span>Rolle: {{authService.getUserRoles().toString()}}</span>
          </button>
          <button disabled mat-menu-item routerLink="user/password-change">
            <mat-icon>password</mat-icon>
            <span>Passwort ändern</span>
          </button>
          <button (click)="authService.logout()" mat-menu-item matTooltip="Logout">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </p>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
