.content {
  height: 100%;
  width: 100%;
}

.header-bg {
  height: 80px;
  font-size: 28px;
  font-weight: normal;
  color: white;
  background: #da251c url('../assets/images/cropped-fsgw_logo_80.png') left center no-repeat;
}

.header-bg-spacer {
  width: 4em;
}

.toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.toolbar-row {
  height: 2.4em;
}

.toolbar-buttons {
  margin-right: 0.5em;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.content-container {
  width: 100%;
  height: 100%;
}

.sidenav {
  padding: 0em;
  min-width: 10em;
  max-width: 15em;
}

.menu-item {
  padding-left: 0.5em;
  font-size: 12pt;
  font-weight: normal;
}

