<h2>Schiessanlage Ohrbühl</h2>

<p>Unsere offiziellen Übungen und das Bundesprogramm finden in der Schiessanlage Ohrbühl statt.</p>

<b>
  Schiessanlage Ohrbühl<br>
  Seenerstrasse 139<br>
  8404 Winterthur
</b>

<p>
  <iframe class="map-style"
          src="https://www.openstreetmap.org/export/embed.html?bbox=8.761339187622072%2C47.49699155515771%2C8.76487970352173%2C47.49857537482245&amp;layer=mapnik"></iframe>
  <br />
  <small>
    <a href="https://www.openstreetmap.org/#map=19/47.49778/8.76311" target="_blank">
      Größere Karte anzeigen</a>
  </small>
</p>
