<h2>Jungschützenkurs</h2>
<p>
  Die FSGW führt jedes Jahr Junioren- und Jungschützenkurse für Mädchen und Jungen ab 10 Jahren durch. Diese starten
  jeweils im Frühjahr und der offizielle Kurs ist vor den Sommerferien abgeschlossen. Neben dem offiziellen Kurs gibt es
  auch einige Anlässe wie das Jungschützenweekend.
</p>
<p>
  Als Junior- oder JungschützeInn bist Du ein vollwertiges Mitglied der FSGW und darfst an allen Anlässen der FSGW
  Teilnehmen. In dem meisten Fällen zu einem reduzierten Kostenanteil oder sogar kostenfrei.
</p>
<img src="assets/images/js/jsk_jsl.jpg">
<p>
  Unser junges Team von Leitern freut sich auf Dich und falls Du Fragen hast kannst Du dich hier melden. Wir würden uns
  freuen dich bei uns zu begrüssen.
</p>

