<h2>Vorstand</h2>

Der Vorstand der FSGW setzt sich aus folgenden Vereinsmitgliedern zusammen:

<mat-list>
  <mat-list-item>
    <mat-icon matListItemIcon>person</mat-icon>
    <div matListItemTitle>Rainer Dübi</div>
    <div matListItemLine>Präsident</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>person</mat-icon>
    <div matListItemTitle>Thomas Stanger</div>
    <div matListItemLine>Vice-Präsident & Aktuar</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>person</mat-icon>
    <div matListItemTitle>Christian Stanger</div>
    <div matListItemLine>Jungschützenleiter</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>person</mat-icon>
    <div matListItemTitle>Matthias Ott</div>
    <div matListItemLine>Schützenmeister</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>person</mat-icon>
    <div matListItemTitle>Barbara Wolf</div>
    <div matListItemLine>Kassierin</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>person</mat-icon>
    <div matListItemTitle>Martin Wolf</div>
    <div matListItemLine>Feldmeister</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>person</mat-icon>
    <div matListItemTitle>Dario Schmidt</div>
    <div matListItemLine>Munitionsverwalter</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>person</mat-icon>
    <div matListItemTitle>Matthias May</div>
    <div matListItemLine>Beisitzer</div>
  </mat-list-item>
</mat-list>
