<h2>Neues Waffengesetz</h2>
<p>
  Seit dem 15. August ist die neue Waffenverordnung in Kraft. Für den Kauf eines Sturmgewehrs 90 oder 57 mit einem
  Magazin von mehr als 10 Patronen ist nun eine Ausnahmebewilligung nötig.
</p>
<p>
  Nach der verlorenen Abstimmung gegen das Waffengesetz vom 19. Mai hat der Bund das neue Gesetz, das aufgrund der
  EU-Waffenrichtlinie angepasst worden ist, am 15. August in Kraft gesetzt. Seither gilt die neue Waffenverordnung, die
  den Erwerb und den Besitz von halbautomatischen Waffen, die ab sofort grundsätzlich zu den verbotenen Waffen zählen,
  regelt. Sturmgewehre 90 und 57 mit einem Magazin von mehr als zehn Patronen sowie halbautomatische Pistolen mit einem
  Magazin von mehr als 20 Patronen können neu nur noch mit einer Ausnahmebewilligung erworben werden. Wer im Besitz
  einer solche Waffe ist, die noch nicht in einem kantonalen Waffenregister gemeldet ist, hat drei Jahre Zeit, die Waffe
  zu melden.
</p>
<p>
  Das Fedpol hat auf seiner Website das Formular für die Ausnahmebewilligung sowie ein Formular für den Nachweis des
  regelmässigen Schiessens online gestellt. Zudem werden verschiedene Fragen zur neuen Waffenverordnung beantwortet. Im
  nächsten Mitgliedermagazin «Schiessen Schweiz» wird die Waffenverordnung im Detail vorgestellt.
</p>
<p>
  Joel Haefeli, Jurist und Schützenmeister, hat die Waffenverordnung und ihre Auswirkungen auf Schützinnen und Schützen
  analysiert. Freundlicherweise hat er seine Analyse zur Verfügung gestellt. Sie kann <a
  href="https://www.swissshooting.ch/media/11364/publikation-waffenrecht-haefeli-v11.pdf" target="_blank">hier</a>
  heruntergeladen
  werden.
</p>
<p>
  Quelle des obigen Textes, sowie Informationen unter:<br>
  <a href="https://www.swissshooting.ch/de/news/aktuelles/2019/08_august/waffenverordnung/" target="_blank">https://www.swissshooting.ch/de/news/aktuelles/2019/08_august/waffenverordnung/</a>
</p>

Alle nötigen Formulare sind unter <a href="https://www.fedpol.admin.ch"
                                     target="_blank">https://www.fedpol.admin.ch</a> finden.
