<h2>Abgabe der persönlichen Waffe bei Abschluss des Militärdienst</h2>

<p>
  Bei Erfüllung der Dienstpflicht ist es möglich die persönliche Waffe in den Privatbesitz zu übernehmen. Dazu wird
  folgendes benötigt:
</p>

<ul>
  <li>In den letzten 3 Jahren vor der Abgabe des persönlichen Materials je 2 absolvierte Bundesprogramme und
    Feldschiessen. Eintrag muss im Leistungsausweis erfolgt sein.
  </li>
  <li>
    Einen gültigen Waffenerwerbsschein (WES)
  </li>
  <li>
    Das Feldschiessen und das Bundesprogramm kann jeder ADA ohne Voranmeldung bei uns schiessen.
  </li>
</ul>

<p>
  Das OP können Sie bei uns an den angegeben Zeiten und Daten bis Ende August schiessen.
</p>

<p>
  Bitte beachten Sie die genauen Schiesszeiten auf unserer Hompage. Nehmen Sie alle Unterlagen (Pisa-Blatt,
  Leistungsausweis, Dienstbüchlein, amtlicher Ausweis) als auch die persönliche Waffe inklusive des Gehörschutzes mit.
</p>
