.cm-sidenav-container {
  width: auto;
  height: 86%;
  background: white;
}

.cm-sidenav {
  height: auto;
  width: 15rem;
  background: white;
}

.cm-content {
  flex: auto;
  height: auto;
  width: auto;
  margin: 10px;
  display: flex;
  justify-content: center;
}

